<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles origional.css">
    <title>Admin Panel</title>
</head>

<body>
    <div class="side-menu">
        <div class="brand-name">
            <h1>Hotel California</h1>
        </div>
        <ul>
            <li><img src="media/dashboard (2).png (2).png" alt="">&nbsp; <span>Dashboard</span> </li>
            <li><img src="media/reading-book (1).png" alt="">&nbsp;<span>Database Query</span> </li>
            <li><img src="media/teacher2.png" alt="">&nbsp;<span>Employees</span> </li>
            <li><img src="media/school.png" alt="">&nbsp;<span>Guests</span> </li>
            <li><img src="pmedia/ayment.png" alt="">&nbsp;<span>Financials</span> </li>
            <li><img src="hmedia/elp-web-button.png" alt="">&nbsp; <span>Help</span></li>
            <li><img src="media/settings.png" alt="">&nbsp;<span>Admin Settings</span> </li>
         
        </ul>
    </div>
    <div class="container">
        <div class="header">
            <div class="nav">
                <div class="search">
                    <input type="text" placeholder="Search..">
                    <button type="submit"><img src="media/search.png" alt=""></button>
                </div>
                <div class="user">
                    <a href="#" class="btn">Button</a>
                    <img src="notifications.png" alt="">
                    <div class="img-case">
                        <img src="media/user.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="cards">
                <div class="card">
                    <div class="box">
                        <h1>2194</h1>
                        <h3>Vacant Rooms</h3>
                    </div>
                    <div class="icon-case">
                        <img src="media/students.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>53</h1>
                        <h3>Parameter 2</h3>
                    </div>
                    <div class="icon-case">
                        <img src="media/teachers.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>5</h1>
                        <h3>Parameter 3</h3>
                    </div>
                    <div class="icon-case">
                        <img src="media/schools.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>350000</h1>
                        <h3>Weekly Revenue</h3>
                    </div>
                    <div class="icon-case">
                        <img src="media/income.png" alt="">
                    </div>
                </div>
            </div>
            <div class="content-2">
                <div class="recent-payments">
                    <div class="title">
                        <h2>Recent Check-Ins</h2>
                        <a href="#" class="btn">View All</a>
                    </div>
                    <table>
                        <tbody><tr>
                            <th>Name</th>
                            <th>Room no.</th>
                            <th>Amount Paid</th>
                            <th>Option</th>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>St. James College</td>
                            <td>$120</td>
                            <td><a href="#" class="btn">View</a></td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>St. James College</td>
                            <td>$120</td>
                            <td><a href="#" class="btn">View</a></td>
                        </tr>
                        
                        
                        
                        
                    </tbody></table>
                </div>
                <div class="employee-log">
                    <div class="title">
                        <h2>Employees Log</h2>
                        <a href="#" class="btn">View All</a>
                    </div>
                    <table>
                        <tbody><tr>
                            <th>Profile</th>
                            <th>Name</th>
                            <th>option</th>
                        </tr>
                        <tr>
                            <td><img src="media/user.png" alt=""></td>
                            <td>Employee 1</td>
                            <td><img src="media/info.png" alt=""></td>
                        </tr>
                        <tr>
                            <td><img src="media/user.png" alt=""></td>
                            <td>Employee 2</td>
                            <td><img src="media/info.png" alt=""></td>
                        </tr>
                        <tr>
                            <td><img src="media/user.png" alt=""></td>
                            <td>Employee 3</td>
                            <td><img src="media/info.png" alt=""></td>
                        </tr>
                        <tr>
                            <td><img src="media/user.png" alt=""></td>
                            <td>Employee 4</td>
                            <td><img src="media/info.png" alt=""></td>
                        </tr>

                    </tbody></table>
                </div>
            </div>
        </div>
    </div>


</body></html>